MYSQL_ROOT_PASSWORD=local_root_password
MYSQL_DATABASE=sky_take_out
MYSQL_USER=sky
MYSQL_PASSWORD=local_app_password
MYSQL_PORT=13306

REDIS_PASSWORD=local_redis_password
REDIS_PORT=16379

APP_PORT=8080
SKY_JWT_ADMIN_SECRET=replace-with-at-least-32-random-characters
SKY_JWT_USER_SECRET=replace-with-another-32-random-characters
SKY_AUTH_FIXED_LOGIN_CODE=123456
SKY_PAY_MOCK_ENABLED=false
SKY_SECKILL_CONSUMER_NAME=compose-consumer
SKY_SECKILL_MAX_RETRIES=3
SKY_SECKILL_RETRY_DELAY_MS=2000
SKY_SECKILL_CLAIM_IDLE_MS=30000
SKY_SECKILL_BLOCK_TIMEOUT_MS=2000
