MYSQL_ROOT_PASSWORD=local_root_password
MYSQL_DATABASE=sky_take_out
MYSQL_USER=sky
MYSQL_PASSWORD=local_app_password
MYSQL_PORT=13306

REDIS_PASSWORD=local_redis_password
REDIS_PORT=16379

APP_PORT=8080
SKY_JWT_ADMIN_SECRET=replace-with-at-least-32-random-characters
SKY_JWT_USER_SECRET=replace-with-another-32-random-characters
SKY_AUTH_FIXED_LOGIN_CODE=123456
SKY_PAY_MOCK_ENABLED=false
